 * {
   margin:0;   /* 마진 리셋 */
   padding:0;   /* 패딩 리셋 */
   box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
 }

 body {
   background-color: rgb(204, 201, 187);	/* 전체 화면 배경색 */
 }
 
 a {
   text-decoration: none;
 }

 ul {
   list-style: none;
 }

 .findPassword {
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   background-color: #f2f2f2;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .findPassword h1 {
   text-align: center;
   margin-bottom: 30px;
   border: 0.5px solid black;
 }

 .findPassword .uid, .name, .phone {
   text-align: center;
   height: 55px;
 }
 .findPassword #button {
   text-align: center;
 }

label {
  font-size: 14px;
  display: inline-block;
  width: 60px;
  text-align: left;
}

 input[type="text"],
 input[type="tel"] {
   width: 220px;
   padding: 7px;
   margin:2px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 13px;
 }

 input[type="submit"] {
   background-color: rgb(1, 60, 1);
   color: white;
   font-size: 15px;
   font-weight: bold;
   width: 100%;
   padding: 10px 55px;
   margin-top: 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 input[type="submit"]:hover {
   background-color: rgb(54, 93, 54);
 }

 .findPassword #button_find {
   text-align: center;
 }

 .findPassword #button_find ul li {
   display: inline-block;
   margin: 16px 0px 0px 0px;
 }
 .findPassword #button_find ul li a {
   background-color: whitesmoke;
   color: rgb(60, 60, 55);
   padding: 5px 5px;
   border: 1px solid #f2f2f2;
   border-radius: 2px;
   font-size: 13px;
   cursor: pointer;
 }
 .findPassword #button_find ul li a:hover {
   border: 1px solid #575656;
 }

 .error-message {
   height:20px;
   color: red;
   font-size: 11px;
   font-weight: 700;
 }